# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules (frontend + backend)
contact_manager_frontend/node_modules/
contact_manager_backend/node_modules/

# Build output
dist
dist-ssr
*.local

# Ignore .env files
contact_manager_frontend/.env
contact_manager_backend/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional: OS-specific (Linux/Windows/Mac)
Thumbs.db
ehthumbs.db
Desktop.ini
